
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Board</title>
    <link href="~/Content/styles.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h1>MVC Exercises - Views Part 2: Models</h1>
    </header>
    <nav>
        <ul>
            <li><a href="#">Board Layout</a></li>
            <li><a href="#">Tile Layout</a></li>
            <li><a href="#">Table Layout</a></li>
       </ul>

    </nav>

    <section id="main-content">
       
    </section>
</body>
</html>
