
@{
    ViewBag.Title = "Submitted";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="centeredPanel">

    <h2>Thank You!</h2>

    <p>Your application has been received and we'll be in touch with you once we have the technology to perform an intergalactic
    space mission! In the meantime, live long and prosper.</p>
</section>
