@model SSGeek.Models.TriviaModel
@{
    ViewBag.Title = "Space Geek Trivia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="centeredPanel">
    <h2>Correct!</h2>

    <p class="centered">That's right <strong>@Model.Name</strong>! Neil Armstrong first stepped on the moon on July 20, 1969. You know your space history!</p>
</section>

