@model SSGeek.Models.TriviaModel
@{
    ViewBag.Title = "Space Geek Trivia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="centeredPanel">

    <h2>Incorrect!</h2>

    <p class="centered">That's incorrect! Don't you know your space trivia? You should spend more time studying instead of watching fake space movies <strong>@Model.Name</strong>!</p></section>