@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Font Size Exercise</title>
    <link rel="stylesheet" href="~/Content/styles.css" />
</head>
<body>
    <header>
        <h1>ASP.NET MVC Exercises - Font Sizes</h1>
    </header>
    <nav>
        <ul>
            <li><a href="~/Home/FontSize">Font Size Exercise</a></li>
            <li><a href="~/Home/RecipeList">Recipe List</a></li>
        </ul>

    </nav>
    <section id="main-content">



    </section>
</body>
</html>
