
@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Recipe Exercise</title>
    <link rel="stylesheet" href="~/Content/styles.css" />
</head>
<body>
    <header>
        <h1>ASP.NET MVC Exercises - Recipe List</h1>
    </header>
    <nav>
        <ul>
            <li><a href="~/Home/FontSize">Font Size Exercise</a></li>
            <li><a href="~/Home/RecipeList">Recipe List</a></li>
        </ul>

    </nav>
    <section id="main-content">
        <h2>Vegetarian Recipes</h2>
        <ul>
            <li><a href="~/Home/RecipeDetail/roasted-chili-broccoli">Roasted Garlic Chili Broccoli</a></li>
            <li><a href="~/Home/RecipeDetail/mexican-rice-pilaf">Mexican Rice Pilaf</a></li>
            <li><a href="~/Home/RecipeDetail/arugula-pasta">Pasta with Blue Cheese, Arugula, Figs, and Walnuts</a></li>

        </ul>
    </section>
</body>
</html>
