/* TEMPLATE STYLES */

body {
    width: 100%;
    background-color: #212121;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body, header, nav {
    margin: 0px;
}



header {
    background-color: #0099CC;
    color: white;
    padding: 10px 10px;
}


nav {
    background-color: #8DC63F;
    margin-bottom: 20px;
    padding: 5px;
    height: 50px;
}

    nav ul {
        float: left;
    }

    nav li {
        list-style-type: none;
        color: white;
        margin-left: 25px;
        margin-bottom: 10px;
        font-size: 1.3em;
        float: left;
    }

        nav li a {
            color: white;
            font-weight: bold;
            text-decoration: none;
        }

            nav li a:hover {
                text-decoration: underline;
            }

section#main-content {
    padding: 10px;
}

section {
    clear: both;
    display: block;
    width: 80%;
    margin: 20px auto;
    vertical-align: top;    
    min-height: 450px;
    background-color: #FFF;
    border-radius: 7px;
}

section .center {
    text-align: center;
}

section form label {
    width: 200px;
    display: inline-block;
    text-align: right;
    padding-right: 10px;
}

section form div {
    width: 50%;
}

/* Individual Page Styles */
section#main-content>img {
    height: 200px;
}

.reviews .review {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
}

.reviews .review:nth-child(2n){
    background-color: lightgrey;
}

.review * {
    padding: 0px;
    margin: 0px;
}

.review .rating {
    margin-bottom: 10px;
}

.review .star {
    height: 17px;
}

.review .content {
    margin-top: 15px;
}